/* header and nav layout */
header .nav-wrapper {
  background-color: white;
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1440px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2.5rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
  font-family: var(--font-transducer);
  line-height: 16px;
  font-size: 16px;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--font-size14);
    margin-right: 15px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    font-weight: 400;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
  }

  header
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded="true"]
    > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 100vw;
    margin-top: 12px;
    padding: 1em;
    background-color: white;
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
    display: flex;
  }
}

header nav .nav-sections .default-content-wrapper {
  display: flex;
}
/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* custom css for motorcycle tab */
.nav-sections .sidebar {
  width: 27.1rem;
  background: #000;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  height: 33.438rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-tstar-regular);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.nav-sections .sidebar h2 {
  margin-bottom: 20px;
}

.nav-sections .sidebar .cc-range {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 0;
}

.nav-sections .sidebar .cc-range:hover {
  text-decoration: underline;
}

.nav-sections .sidebar .cc-range:last-child {
  border-bottom: none;
}

.nav-sections .main-content {
  flex: 1;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-sections .bike-list {
  flex: 1;
  overflow-y: auto;
}

.nav-sections .bike-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 25px;
  cursor: pointer;
}

.nav-sections .bike-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.nav-sections .bike-item .bike-info {
  flex: 1;
}
.nav-sections .bike-item .bike-info h4 {
  margin: 0 0 5px;
}

.nav-sections .bike-item .bike-info p {
  margin: 0;
  color: #888;
}

.nav-sections .details {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  overflow-y: auto;
}

.nav-sections .details img {
  max-width: 100%;
  height: auto;
}

.nav-sections .details h3 {
  margin-top: 0;
}

.nav-sections .details .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.nav-sections .details .actions button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.nav-sections .details .actions button:hover {
  background: darkred;
}