.section.awards {
  padding: 96px 120px;

  @media (width >= 768px) and (width <= 1280px) {
    padding: 96px 60px;
  }

  @media (width <= 767px) {
    padding: 40px 16px;
  }

  div:first-child {
    p {
      color: var(--text-color-red);
      font-family: var(--font-tstar-heavy);
      font-size: var(--font-size24);
      line-height: var(--line-height-per-140);
      font-weight: var(--font-weight-900);
      margin-bottom: 24px;

      @media (width < 768px) {
        font-size: var(--font-size20);
        margin-bottom: 8px;
      }
    }

    h3 {
      color: var(--text-color-title-black);
      font-family: var(--font-transducer);
      font-size: var(--font-size40);
      line-height: var(--line-height-per-100);
      font-weight: var(--font-weight-400);
      margin-bottom: 40px;

      @media (width < 768px) {
        font-size: var(--font-size32);
        margin-bottom: 55px;
      }
    }
  }
}

.carousel,
.carousel .carousel-slides-container {
    position: relative;
}
  
.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: min(40rem, calc(100svh - var(--nav-height)));
}

/* .carousel .carousel-slide:has(.carousel-slide-content[data-align="center"]) {
  align-items: center;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align="right"]) {
  align-items: flex-end;
} */

.carousel.banner {
  .carousel-slide {
    align-items: center;
    min-height: unset;
    height: 720px
  }
  
  .carousel-slide::after {
    content: '';
    height: 7px;
    width: 0px;
    background-color: var(--text-color-red);
    transition: all 4000ms linear 0s;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .carousel-slide[aria-hidden="false"]::after {
    width: 100%;
  }

  @media screen and (width <= 768px) {
    .carousel-slide {
      height: 620px
    }
  }
  
  @media screen and (width <= 600px) {
    .carousel-slide {
      height: 520px
    }
  }
}

.carousel.awards .carousel-slide {
  min-height: unset;
  display: grid;
  justify-content: space-evenly;
  grid-auto-flow: column;
  grid-template-rows: 0fr 0fr;
  row-gap: 55px;

  div {
    max-width: 386px;

    @media (width < 768px) {
      max-width: 100%;
    }
  }

  @media (width < 768px) {
    row-gap: 27px;
    /* height: 214px; */
    /* width: 214px; */
  }
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;

  img {
   height: 100%;
   width: 100%;
   object-fit: cover;
 }
}

.carousel.awards .carousel-slide .carousel-slide-image {
  display: flex;
  justify-content: center;

  picture {
    display: flex;
    position: unset;
    height: 251px;
    width: 251px;

    @media (width < 768px) {
      height: 214px;
      width: 214px;
    }

    img {
      object-fit: contain;
    }
  }
}

.carousel .carousel-slide .carousel-slide-content {
  z-index: 1;
  color: var(--text-color-white);
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: var(--slide-content-width, auto); */

  .button-container
  a.button {
    background-color: transparent;
    border-radius: unset;
    border: 1px solid var(--text-color-white);
    font-family: var(--font-tstar-bold);
    font-size: var(--font-size16);
    line-height: var(--line-height-per-120);
    font-weight: var(--font-weight-700);
    padding: 10px 20px;
  }
}

.carousel.banner .carousel-slide .carousel-slide-content {
  align-items: center;
  gap: 36px;

  h1 {
    font-family: var(--font-transducer);
    font-size: var(--font-size80);
    line-height: var(--line-height-per-100);
    font-weight: var(--font-weight-500);
    letter-spacing: 0;
    text-align: center;

    @media (width < 768px) {
      font-size: var(--font-size60);
    }

    @media (width < 600px) {
      font-size: var(--font-size40);
      line-height: var(--line-height-per-120);
    }
  }
}

.carousel.awards .carousel-slide .carousel-slide-content {
  align-items: center;
  row-gap: 17px;

  @media (width < 768px) {
    row-gap: 6px;
  }

  p:first-child {
    color: var(--text-color-red);
    font-family: var(--font-tstar-bold);
    font-size: var(--font-size20);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-per-140);
  }

  p:last-child {
    color: var(--text-color-title-black);
    font-family: var(--font-tstar-bold);
    font-size: var(--font-size24);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-per-140);
    text-align: center;
    padding: 0 8px;

    @media (width < 768px) {
      font-size: var(--font-size24);
      font-weight: var(--font-weight-500);
      font-family: var(--font-transducer);
      padding: 0 14px;
    }
  }
}

.carousel .slide-indicators-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;;
}

.carousel.banner .slide-indicators-wrapper {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .carousel-slide-indicators {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.carousel .carousel-slide-indicator {
  display: flex;
  transform: skew(-60deg);
}

.carousel .carousel-slide-indicator button {
  height: 5px;
  width: 38px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color-grey-4);
  border: unset;
  border-radius: unset;
}

.carousel.banner .carousel-slide-indicator button {
  height: 3px;
  width: 26px;
}

.carousel .carousel-slide-indicator button:disabled {
  background-color: var(--bg-color-danger);
}

.carousel .carousel-slide-indicator span,
.carousel .carousel-navigation-buttons span {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* .carousel .carousel-navigation-buttons {
  position: absolute;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
} */

/* stylelint-disable-next-line no-descending-specificity */
.carousel .slide-indicators-wrapper .slide-nav {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: unset;
  border: unset;
  display: flex;
}

/* .carousel .carousel-navigation-buttons button {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: unset;
  border: unset;
} */

/* @media (width >= 600px) {
  .carousel .carousel-navigation-buttons {
    left: 1rem;
    right: 1rem;
  }

  .carousel .carousel-slide .carousel-slide-content {
    --slide-content-width: 50%;
    margin: 2.5rem 5rem;
  }

  .carousel .carousel-slide .carousel-slide-content[data-align="justify"] {
    --slide-content-width: auto;
  }
} */